.body-container {
  /* margin: 40px; */
  margin: 76px auto;
  /* margin-top: 76px; */
  position: relative;
  transition: all 0.3s ease-out;
}

.RecipeList {
  /* display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 300px 300px;
  grid-gap: 8px; */

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  /* margin: auto;
  margin-top: 76px;
  position: relative;
  transition: all 0.3s ease-out; */

  /* overflow: hidden;
  position: fixed; */
}

.card-container {
  /* width: 100%;
  height: 100%; */
  /* height: 380px;
  width: 380px; */
  height: 400px;
  width: 400px;
  /* background-color: pink; */
  margin: auto;
}

.card {
  width: 96%;
  height: 96%;
  margin: 2%;
  /* background-color: lightgrey; */
}

.card:hover {
  -webkit-box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  /* box-shadow: 2px 4px 7px -2px rgba(122, 122, 122, 1); */
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
}

.nav-open {
  margin-top: 262px;
}

.shopping-list-open {
  transform: translateX(400px);
}

/* @media screen and (min-width: 1535px) {
  .card-container {
    width: 23vw;
    height: 23vw;
  }
} */
