.side-drawer {
  height: 100%;
  background: #f8f9fa;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  /* overflow-y: scroll; */
  /* overflow: hidden; */
  margin-top: 76px;
  /* width: 70%; */
  width: 400px;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-100%);
  transition: all 0.3s ease-out;

  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 3%;

  -webkit-scrollbar {
    width: 0 !important;
  }
}

.side-drawer.open {
  transform: translateX(0);
}

.menu-open {
  margin-top: 262px;
}

.shopping-list {
  width: 80%;
  overflow-y: auto;
  max-height: 70%;
}

.shopping-list-buttons {
  width: 80%;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  margin-top: 20px;
}

.toast {
  /* margin: 20px auto; */
  margin: 20px;
  position: fixed;
  bottom: 76px;
  left: 0;
  z-index: 300;
  background-color: #343a40;
  color: #fff;
}

.shopping-list-buttons button {
  /* font-family: Pacifico, cursive; */
  width: 30%;
  /* margin-left: 10px; */
}
/* .side-drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-drawer li {
  margin: 0.5rem 0;
}

.side-drawer a {
  color: #521751;
  text-decoration: none;
  font-size: 1.2rem;
}

.side-drawer a:hover,
.side-drawer a:active {
  color: #fa923f;
} */

/* @media (min-width: 769px) {
  .side-drawer {
    display: none;
  }
} */
